html {margin: 0; padding: 0; background-color: transparent;}
body {margin: 15px 0 15px; padding: 0; text-align: left;}
#imPage {margin: 0 auto; width: 960px; position: relative;}
#imHeader {margin-bottom: 45px; height: 150px; background-color: #808080; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 150px; left: 0;  height: 35px; width: 954px; padding: 10px 3px 0px 3px; background-color: #D3D3D3;}
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 954px; padding: 3px 3px 3px 3px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 195px; bottom: 0; left: 0; width: 960px; background-color: #DCDCDC;}
#imFooterBg {clear: both; bottom: 0; width: 100%; background-color: transparent;}
#imFooter {position: relative; margin: 0 auto; height: 75px; width: 960px; background-color: #808080;}
